<md-content style="text-align: center">

	<div ng-hide="!vm.isSignedIn">
		<h3>{{vm.loggedInMessage}}</h3>
		<md-button class="md-raised" ng-click="vm.auth.$signOut()">Logg ut</md-button>
	</div>
	  <!-- FirebaseUI template -->
	<div ng-hide="vm.isSignedIn">
		<h1>Velg din innloggingsmetode nedenfor</h1>
		<div ng-controller="FirebaseUI" id="firebaseui-auth-container" style="border-bottom: 10px "></div>
		<p style="text-align: center">Om du benytter epost må du trykke på 'login' fanen en gang etter at du har trykket på 'Sign in with email'</p>
	</div>
	<span flex layout></span>
	<p>Du vil automatisk bli sendt til din egen profilside etter innlogging</p>

</md-content>