<script src="main.ctrl.js"></script>
<md-content flex layout-padding id="mainContent">
    <h1>Welcome to the example page for using 'kondiskalkulatoren' API</h1>
    <p>This page is meant for giving an example how to use call the API for 'kondiskalkulatoren'</p>
    <p>If you have any questions, please send them to 'haraldlons@gmail.com'</p>

    <h2>Form</h2>
    <form ng-submit="vm.callAPI()">
        System ID:<br>
        <input type="text" name="systemid" ng-model="vm.system_id"><br>

        What is your education? <br>
        <input list="education" ng-model="vm.education_choice">
        <datalist id="education">
            <option ng-repeat="education in vm.valueOptions.education" value="{{ education.text }}">
        </datalist>
        <br>

        What is your ethnicity? <br>
        <input list="ethnicities" ng-model="vm.ethnicity">
        <datalist id="ethnicities">
            <option ng-repeat="ethnicity in vm.valueOptions.ethnicity" value="{{ ethnicity.text }}">
        </datalist>
        <br>

        What is your Age? <br>
        <input type="text" name="age" ng-model="vm.age">
        <br>

        What is your gender? <br>
        <input list="gender" ng-model="vm.gender">
        <datalist id="gender">
            <option ng-repeat="gender in vm.valueOptions.gender" value="{{ gender.text }}">
        </datalist>
        <br>

        What much do you workout? <br>
        <input list="workoutTime" ng-model="vm.workoutTime">
        <datalist id="workoutTime">
            <option ng-repeat="workoutTime in vm.valueOptions.workoutTime" value="{{ workoutTime.text }}">
        </datalist>
        <br>

        When you workout, how hard are you pushing yourself? <br>
        <input list="hardness" ng-model="vm.hardness">
        <datalist id="hardness">
            <option ng-repeat="hardness in vm.valueOptions.hardness" value="{{ hardness.text }}">
        </datalist>
        <br>

        What is your resting pulse?? <br>
        <input type="text" name="restingPulse" ng-model="vm.restingPulse">
        <br>

        What is your maximum heart rate? <br>
        <input type="text" name="maximumHeartRate" ng-model="vm.maximumHeartRate">
        <br>

        What is your weight? (kg) <br>
        <input type="text" name="age" ng-model="vm.weight">
        <br>

        What is your height? (cm) <br>
        <input type="text" name="age" ng-model="vm.height" readonly>
        <br>

        <input type="submit">
    </form>

    <input type="submit" ng-click"vm.printAllData()">

    <input type="submit" ng-click="vm.showToast('hei')">
    <input type="submit" ng-click="vm.test_dialog()" value="test_dialog">
    <input list="browsers" ng-model="vm.education_choice">
    <datalist id="browsers">
        <option ng-repeat="browser in vm.valueOptions.education" value="{{ browser.text }}">
    </datalist>

</md-content>

