<md-content flex layout-padding id="mainContent">

<h1>Velkommen til Haralds kule app</h1>

<p>Har laget denne appen for å kort vise hvordan man kan bruke Firebase som database.</p>
<p>Firebase har mange fordeler, og gjør kommunikasjonen mellom databasen og clienten mye enklere enn tradisjonelle back-end løsninger som mySQL.</p>
<p>Det er også mye sikrere siden man spesifiserer klare regler for hvem som kan aksessere hva.</p>
<h4>Noen av funksjonene jeg har implementert ved hjelp av Firebase ser listet under</h4>
<ul>Authentisering med ulike providers
  <ul>
    <li>Google</li>
    <li>Facebook</li>
    <li>GitHub</li>
    <li>Twitter</li>
    <li>Og ikke minst vanlig epost</li>
  </ul>
  <li>Profilside</li>
  <li>Chat for både innloggete brukere og gjester</li>
  <li>Bruk av AngularJS</li>
  <li>Bruk av Angular Material</li>
  <li>Bruk av Firebase Realtime Database</li>
  <li>Bruk av Firebase Authentication</li>
  <li>Bruk av AngularFire(bindeleddet mellom AngularJS og Firebase)</li>
</ul>
