<md-content flex layout-padding>

	<h3>Profilside{{vm.topWelcomeName}}</h3>
	<p>Her kan du endre informasjonen om deg selv og det vil bli synkronisert med Firebase databasen. Prøv å logg inn og ut for å se at det stemmer.</p>

</md-content>

<div ng-controller="profilePageCtrl" layout="column" ng-cloak class="md-inline-form">
<md-card md-theme-watch>
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div class="">
      <md-input-container>
        <label>Tittel</label>
        <input ng-model="vm.user.title">
      </md-input-container>

      <md-input-container>
        <label>Email</label>
        <input ng-model="vm.user.email" type="email">
      </md-input-container>
       <md-button id="saveButton" class="md-raised" ng-click="vm.saveToFirebase()">Lagre</md-button>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>
      <form name="vm.userForm">


        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>University</label>
            <input ng-model="vm.user.university">
          </md-input-container>

          <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="vm.user.submissionDate"></md-datepicker>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="vm.user.firstName">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
            <input ng-model="vm.user.lastName">
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="vm.user.address">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
          <input ng-model="vm.user.address2" placeholder="Address 2">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="vm.user.city">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="vm.user.state">
              <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Postal Code</label>
            <input name="postalCode" ng-model="vm.user.postalCode" placeholder="12345"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="vm.userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a postal code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
              </div>
            </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Biography</label>
          <textarea ng-model="vm.user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>

      </form>
      <md-button class="md-raised md-primary" ng-click="vm.saveToFirebase()">Lagre</md-button>
    </div>
  </md-content>
</md-card>
</div>